  <h2>Recent Articles</h2>
  <ol>
    <% blog.articles[0...10].each do |article| %>
      <li><%= link_to article.title, article %> <span><%= article.date.strftime('(%y/%m/%d %H:%M)') %></span></li>
    <% end %>
  </ol>

  <h2>Tags</h2>
  <ol>
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</a></li>
    <% end %>
  </ol>

  <h2>By Year</h2>
  <ul>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles_year | %>
        <li><%= link_to year, blog_year_path(year) %>(<%= articles_year.size %>)</li>
      <ul>
      <% blog.articles.group_by {|a| a.date.month }.each do |month, articles_month | %>
        <li><%= link_to month, blog_month_path(year, month) %> (<%= articles_month.size %>)</li>
      <% end %>
      </ul>
    <% end %>
  </ul>
