    <h1 class="title"><%= link_to article.title, article %></h1>
    <span><%= article.date.strftime('%Y/%m/%d %H:%M') %> tags:<% article.tags.each do |tag, articles| %>
    <%= link_to tag, tag_path(tag) %>,
  <% end %></span>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://amasok.github.com<%= article.url %>" data-text= "amasok's blog <%= article.title %>" data-lang="ja" data-hashtags="amasok">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<a href="http://b.hatena.ne.jp/entry/amasok.github.com<%= article.url %>" class="hatena-bookmark-button" data-hatena-bookmark-title="amasok's blog <%= article.title %>" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<section class="text">
    <%= article.body %>
    </section>
