---
pageable: true
layout: layouts/blog
---
<h2>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h2>
  <% page_articles.each_with_index do |article, i| %>
  <article class="blog-post">
<%= partial("layouts/blogpost", :locals => {:article => article}) %>
  </article>
  <% end %>
<%= partial("layouts/pagination", :locals => { 
  :paginate => paginate,
  :num_pages => num_pages,
  :page_number => page_number,
  :prev_page => prev_page,
  :next_page => next_page
}) %>
